

.container-game{
  margin-top: 50px;
  max-width: 1500px;
  height: 100vh;
  position: relative;
}

.imgg{
  width: 1500px;
  max-height: 800px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.content-game{
  position: absolute;
  width: 1300px;
  height: 700px;
  border: 1px solid transparent;
  border-radius: 15px;
  z-index: 5;
  top: 50px;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.85);
}
